* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(0, 0, 0);

}

body {
    background-color: rgba(0, 0, 0) !important;
    color: white !important;
}

.nav-logo {
    height: 30px;
    padding-right: 1rem;
}

.nav-profile-pic {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

nav {
    padding: 1rem;
    overflow: hidden;
    white-space: nowrap;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow: hidden;
    white-space: nowrap;
}

.nav {
    max-height: 30px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    column-gap: 0.8rem;
}

.pre-main {
    padding: 1rem;
    overflow: hidden;
    white-space: nowrap;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
    white-space: nowrap;
}

.btn { 
    margin-left: 2rem;
    border: 1px solid white;
    color:white;
    background-color: rgb(27, 27, 27);
}

.row {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0;
}

footer {
    padding: 2rem;
    margin: 0 10vh;
    display: flex;
    color: gray;
}

.footer-block {
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

.fa-magnifying-glass {
    background-color: black !important;
}

.dropdown-menu {
    z-index: 2;
}

.overlap-bar {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 2rem;
    z-index: 3;
    visibility: hidden;
}

.icon-pre {
    border: 1px solid white;
    padding: 0.3rem;
}

#last-element::after {
    background-image: linear-gradient( right, rgba(128, 128, 128, 0), rgba(0, 0, 0, 0.493)) !important;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.container1 {
    animation: fadein 3s linear forwards;
}

.container2 {
    animation: fadein 3s linear 1s forwards;
}

.container3 {
    animation: fadein 3s linear 2s forwards;
}